/* color: #212121; основной цвет текста (черный) */
/* color: #757575; цвет почты и телефона хедер и цвет вторичного текста(серый) */
/* color: rgba(255, 255, 255, 0.6); цвет почты и телефона футер(серый)*/
/* color: #2196F3; синий акцент */
/* background: #2F303A; фон первой секции (темно-серый) */
/* background: #F5F4FA; */

:root {
  /* color-parameters */
  --color-black: #212121;
  --color-white: #ffffff;
  --color-grey: #757575;
  --color-blue: #2196f3;
  --color-networks-link: #afb1b8;
  --color-background-grey: #2f303a;
  --color-background-our: #f5f4fa;
  --color-grey-rgba: rgba(255, 255, 255, 0.6);

  /* font-nav-parameters */
  --nav-font-style: normal;
  --nav-font-weight: 500;
  --nav-font-size: 14px;
  --nav-line-height: 1.14;
  --nav-letter-spacing: 0.02em;

  /* transition var */
  --transition-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
}
body ul {
  list-style: none;
  font-style: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.flexbox {
  display: flex;
}

.margin-null {
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-title {
  display: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.link {
  columns: #000000;
  text-decoration: none;
  transition: var(--transition-properties);
}

.link:hover,
.link:focus {
  color: var(--color-blue);
  transition: var(--transition-properties);
}

/* start navigation block */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
  position: relative;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.nav-size .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-address {
  display: flex;
  margin-left: auto;
}
.nav-address .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-address .item a {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav .logo-link {
  margin-right: 93px;
}

.logo-link p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-address .item + .item {
  margin-left: 50px;
}

.nav-light {
  color: var(--color-blue);
}

.nav-color {
  color: var(--color-grey);
}

.nav-size {
  font-style: var(--nav-font-style);
  font-weight: var(--nav-font-weight);
  font-size: var(--nav-font-size);
  line-height: var(--nav-line-height);
  letter-spacing: var(--nav-letter-spacing);
  padding-inline-start: 0px;
}

.nav-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-blue);
}
.icon-envelope {
  border-style: inherit;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone {
  border-style: inherit;
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

/* END navigation block */
/* -----------
-----------
-----------
----------- */
/* start logo css */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.logo-left {
  color: var(--color-blue);
}

.logo-right {
  color: var(--color-black);
}

/* .header-logo {
} */
.logo-footer {
  color: var(--color-white);
  margin-bottom: 20px;
}
/* END logo css */
/* -----------
-----------
-----------
----------- */
/* Start main section */
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  text-align: center;
}

.main-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 30;
}

.main-button {
  display: inline-block;
  padding: 10px 32px;
  max-width: 200px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-blue);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* END main sections */
/* -----------
-----------
-----------
----------- */

/* Start section description */
.icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.icon-box {
  margin-bottom: 30px;
}
.section-desc {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-desc h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);
}

.desc-content {
  display: flex;
  padding-inline-start: 0px;

  margin: 0;
}

.desc-content .item + .item {
  margin-left: 30px;
}
.desc-content .item h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.desc-content .item p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.desc-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--color-grey);
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}

/* END section description */

/* /Start about section */
.text-about {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  margin-block-start: 0px;
  margin-bottom: 50px;
}

.about-image {
  display: flex;
  position: relative;

  margin-bottom: 94px;
}

.about-image-item::before {
  content: '';
  position: absolute;
  width: calc((100% - 30px * 2) / 3);
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.about-image-title {
  position: absolute;
  bottom: 27px;
  margin: 0;
  width: calc((100% - 30px * 2) / 3);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}
.about-image .item + .item {
  margin-left: 30px;
}
/* End about section */
/* //////
///////
/////// */
/* Start Team section */
.team-section {
  background-color: var(--color-background-our);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
}
.team-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}

.team-list {
  display: flex;
  padding-inline-start: 0px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.footer {
  background-color: var(--color-background-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-white);
  margin-bottom: 9px;
}
.footer-link a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--color-grey-rgba);
  margin-top: 9px;
}

.footer .container .footer-box:first-child {
  margin-right: 70px;
}
.logo-text {
  margin-block-start: 0;
  margin-bottom: 20px;
}

.network-item .network-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-properties);
}

.network-link .foter-icon {
  fill: var(--color-white);
}

.footer-box {
  box-sizing: inline-flex;
}
.footer-address {
  padding-inline-start: 0px;
}

.footer-address li:first-child {
  margin-bottom: 9px;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--color-white);
}

.team-frame {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-frame h3,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.team-frame h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-frame p {
  margin-bottom: 16px;
}

/* social network svg */
.network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.network-list li + li {
  margin-left: 10px;
}

.network-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-networks-link);
}
.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: var(--transition-properties);
}
.network-link:hover {
  background-color: var(--color-blue);
  transition: var(--transition-properties);
}
.network-link:hover .network-icon {
  fill: var(--color-white);
  transition: var(--transition-properties);
}

/* regular-customers section */

.regular-customer {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer-title {
  margin: 0;
  margin-bottom: 50px;
}

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-list .customer-item + .customer-item {
  margin-left: 30px;
}

.customer-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition-properties);
}
.customer-link:hover {
  border: 1px solid var(--color-blue);
  fill: var(--color-blue);
  transition: var(--transition-properties);
}

.customer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-networks-link);
  transition: var(--transition-properties);
}
.customer-icon:hover {
  fill: var(--color-blue);
  transition: var(--transition-properties);
}

/* +

PORTFOLIO.HTML

*/

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background: var(--color-background-our);
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  cursor: pointer;
  transition: var(--transition-properties);
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: var(--transition-properties);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.button-list .item + .item {
  margin-left: 8px;
}

.galery-board {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.galery-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition-properties);
}
.galery-item:hover .thumb-text {
  transform: translateY(0);
}

.galery-item {
  width: calc((100% - 30px * 2) / 3);
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  justify-content: center;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: transform var(--transition-properties);
}
.galery-item:nth-child(3n) {
  margin-right: 0;
}
.galery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.galery-bg {
  background-color: var(--color-white);
}
.galery-text {
  overflow: hidden;
  padding: 20px 24px;
}

.thumb-text {
  position: absolute;
  display: flex;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: var(--color-blue);
  transform: translateY(100%);
  transition: var(--transition-properties);
  opacity: 0.8;
}

.thumb-text:hover {
  transform: translateY(0);
}
.product-thumb {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--color-black);
  margin-bottom: 4px;
}

.galery-decryption {
}

.thumb-text {
}
.project-job {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
